html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  text-decoration: none;
  background-color: #dcd4cd;
  display: inline-block;
  color: #512200;
  list-style-type: none;
  border-style: solid;
  border-color: #9a816d;
  border-width: 3px;
  border-radius: 3px;
  max-width: 20em;
  padding: 1rem;
}

h1 {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

hr {
  border-width: 1px;
  color: #9a816d;
  margin-bottom: 20px;
}

li {
/*  text-align: left; */
  margin: 0;
  padding: 0;
}

/* dl {

  width: 100%;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0px;
  font-size: .875rem;
  line-height: 1.5rem;
} */



dt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  clear: left;
  font-size: .875rem;
}

dd {
  font-style: italic;
  text-align: left;
  float: right;
  width: 50%;
  padding-left: 10px;
  margin: 0;
  font-size: .875rem;
}


.hr-2 {
  border-width: 1px;
  color: #9a816d;
}

.btn {
  display: inline-block;
  text-align: center;
  margin-left: 70px;
  background-color: #785439;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  border-color: #785439;
  color: #f0eee8;
  font-family: 'Dosis', sans-serif;
  font-size: 1.125rem;
  padding: .4em;
}



/* .link-card:hover {
  background-color:
  color:
}

.link-card:hover .btn {
  background-color: ;
} /*
